- unless situation.given_time_feelings.nil?
  - situation.given_time_feelings.each do |given_time_feeling|
    = render partial: "shared/feeling", locals: {given_time_feeling: given_time_feeling, percentage: given_time_feeling.percentage, read_only: nil}
