
= render partial: 'shared/situation_modal_form', locals: {situation: @situation, user: @situation.user, modal_id: 'situationEditModal', method: 'patch'}

= javascript_include_tag 'feeling_operation'
