<p id="notice"><%= notice %></p>

<p>
  <strong>Contents:</strong>
  <%= @adult_children_trait.contents %>
</p>

<%= link_to 'Edit', edit_adult_children_trait_path(@adult_children_trait) %> |
<%= link_to 'Back', adult_children_traits_path %>
