= form_for(@co_independent_trait) do |f|
  - if @co_independent_trait.errors.any?
    #error_explanation
      h2
        = pluralize(@co_independent_trait.errors.count, "error")
        |  prohibited this co_independent_trait from being saved:
      ul
        - @co_independent_trait.errors.full_messages.each do |message|
          li
            = message
  .field
    = f.label :contents
    br
    = f.text_area :contents
  .actions
    = f.submit
