<p id="notice"><%= notice %></p>

<p>
  <strong>Contents:</strong>
  <%= @co_independent_trait.contents %>
</p>

<%= link_to 'Edit', edit_co_independent_trait_path(@co_independent_trait) %> |
<%= link_to 'Back', co_independent_traits_path %>
