/div[style="float:left; width:180px;height:140px;"]
/  h4[style="margin-right: 70px;"]
/    = given_time_feeling.feeling.contents
/  input[type="text" data-width="100" value="#{given_time_feeling.before_percentage.to_s}" class="dial"]
/div[style="float:left; width:120px; height:140px; margin-top: 10px;"]
/  span
/    | うんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこ

/div[style="width:100px;height:200px;margin: 0px auto;"]





/input.dial_ro[style="z-index:0;" type="text" data-width="50" value="#{given_time_feeling.before_percentage.to_s}"]


/a.btn.btn-danger.btn-block[href="#" data-toggle="modal" data-target="#given_time_feeling#{given_time_feeling.id}" style="margin-bottom:2px;text-align:left;"]
/  = given_time_feeling.feeling.contents + ' (' + given_time_feeling.before_percentage.to_s  + '%)　　　'

/  small[style="color:white;"]
/    = given_time_feeling.updated_at.strftime('%Y/%m/%d')

/ark-skin.modal.fade[id="given_time_feeling#{given_time_feeling.id}" tabindex="-1" role="form" aria-hidden="true"]
/  .modal-dialog
/    .modal-content
/      .modal-header
/        button.close[type="button" data-dismiss="modal" aria-hidden="true"]
/          | ×
/        h4.modal-title
/          a.btn.btn-danger
/            = given_time_feeling.feeling.contents + ' (' + given_time_feeling.before_percentage.to_s  + '%)　　　'

/      .modal-body
/          a.btn.btn-primary[]
/            = given_time_feeling.situation.when + given_time_feeling.situation.where + given_time_feeling.situation.with_whom + given_time_feeling.situation.what_have_you_been_doing
/      .modal-footer
/          a.btn.btn-danger[data-dismiss="modal" aria-hidden="true"]
/            | 閉じる
/          a.btn.btn-success[href="/automatic_thoughts/think/#{given_time_feeling.automatic_thought.id}" data-no-turbolink="true"]
/            | Step2へ進む
